<h3 class="text-center">Materials Properties</h3>
  <div class="col-xs-offset-2 col-xs-8">
    <table class="table table-striped text-center">
      <th class="text-center">Elements</th>
      <th class="text-center">Alloys</th>
      <th class="text-center">Insulators</th>
      <th class="text-center">Semiconductors</th>
      <tr>
        <td>Alumnium</td>
        <td>Alumnium</td>
        <td>Alumnium</td>
        <td>Alumnium</td>
      <tr>
      <tr>
        <td>Chromium</td>
        <td>Chromium</td>
        <td>Chromium</td>
        <td>Chromium</td>
      <tr>
      <tr>
        <td>Copper</td>
        <td>Copper</td>
        <td>Copper</td>
        <td>Copper</td>
      <tr>
    </table>
  </div>
