<div class="services-wrap">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Engineering Design</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Classical Stress Analysis</li>
        <li class="list-group-item">Finite Element Analysis</li>
        <li class="list-group-item">Damage Tolerant Analysis</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Materials Evaluation</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Mechanical Property Evaluation</li>
        <li class="list-group-item">Electrical Property Evaluation</li>
        <li class="list-group-item">Corrosion Monitoring Testing</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Manufacturing</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Troubleshooting</li>
        <li class="list-group-item">Testing Automation</li>
        <li class="list-group-item">Failure Investigation</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Failures Analysis</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Fractography</li>
        <li class="list-group-item">Metallography</li>
        <li class="list-group-item">Electron and FITR Microscopy</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Classic Design</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item" ui-sref="services.simple-beams">Simple Beams</li>
        <li class="list-group-item" ui-sref="services.roark-plates">Roark Plates</li>
        <li class="list-group-item" ui-sref="services.miscellaneous">Miscellaneous</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">CAD Services</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Solid Modeling</li>
        <li class="list-group-item">Finite Element Analysis</li>
        <li class="list-group-item">Complete Drawing Packages with GD&amp;T</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Fracture Mechanics</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">KI ans da/dN Calulators</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Data Mining</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Access to Online Databases</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Material Properties</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Room Temperature Data Abstracted from Materials Handbook for Hybrid Microelectronic Circuits</li>
      </ul>
    </div>
  </div>
</div>
