<div class="row client-wrap">
  <div class="client">
    <div class="client-more-less"></div>
    <div class="client-meta">
      <div class="client-close"></div>
      <ul class="project-list">

        <hr class="bar">
        <h4 class="client-title">Raytheon</h4>
        <li>Some Example Project</li>
        <li>Another Project</li>
        <li>The Third and longer project name</li>
        <li>Fourth Project Name</li>
      </ul>
    </div>

    <img class="client-logo" src="img/clients/raytheon.jpg">
  </div>
  <div class="client">
    <div class="client-more-less"></div>
    <div class="client-meta">
      <div class="client-close"></div>
      <ul class="project-list">

        <hr class="bar">
        <h4 class="client-title">DirecTV</h4>
        <li>Some Example Project</li>
        <li>Another Project</li>
        <li>The Third and longer project name</li>
        <li>Fourth Project Name</li>
      </ul>
    </div>

    <img class="client-logo" src="img/clients/direcTV.jpg">
  </div>

  <div class="client">
    <div class="client-more-less"></div>
    <div class="client-meta">
      <div class="client-close"></div>
      <ul class="project-list">

        <hr class="bar">
        <h4 class="client-title">Lockheed Martin</h4>
        <li>Some Example Project</li>
        <li>Another Project</li>
        <li>The Third and longer project name</li>
        <li>Fourth Project Name</li>
      </ul>
    </div>

    <img class="client-logo" src="img/clients/lockheed.jpeg">
  </div>

  <div class="client">
    <div class="client-more-less"></div>
    <div class="client-meta">
      <div class="client-close"></div>
      <ul class="project-list">

        <hr class="bar">
        <h4 class="client-title">FAA</h4>
        <li>Some Example Project</li>
        <li>Another Project</li>
        <li>The Third and longer project name</li>
        <li>Fourth Project Name</li>
      </ul>
    </div>

    <img class="client-logo" src="img/clients/FAA.png">
  </div>

  <div class="client">
    <div class="client-more-less"></div>
    <div class="client-meta">
      <div class="client-close"></div>
      <ul class="project-list">

        <hr class="bar">
        <h4 class="client-title">OECO</h4>
        <li>Some Example Project</li>
        <li>Another Project</li>
        <li>The Third and longer project name</li>
        <li>Fourth Project Name</li>
      </ul>
    </div>

    <img class="client-logo" src="img/clients/oeco.jpg">
  </div>
</div>
